<!DOCTYPE html>
<html>
<head>
  <title>聊天室</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
  <div class="container">
    <div class="chat-box"></div>
    <div class="chat-submit">
      <textarea id="input-box"></textarea>
      <button id="submit-btn">确定</button>
    </div>
  </div>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>
</body>
</html>