<!DOCTYPE html>
<html>
<head>
  <title>聊天室</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
  <div class="container">
    <div class="chat-box">
      <div class="chat-message">
        <p class="chat-message-item">if-true: 嘻嘻嘻</p>
        <p class="chat-message-item sender">mickey0524: 哈哈哈</p>
      </div>
      <div class="user-list">
        <!-- <p class="user-item">mickey0524</p>
        <p class="user-item">if-true</p> -->
      </div>
    </div>
    <div class="input-box">
      <textarea id="input-box" placeholder="请输入" autofocus></textarea>
    </div>
  </div>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.cookie.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>
</body>
</html>