.container {
  width: 400px;
  margin: 0 auto;
}

.chat-box {
  width: 400px;
  height: 600px;
  overflow: auto;
  border: 1px solid #D8D8D8;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

textarea {
  resize: none;
  width: 300px;
  height: 100px;
  border: 1px solid #D8D8D8;
  border-radius: 10px;
  vertical-align: middle;
  padding: 10px;
}

textarea:focus {
  outline: 0;
}

button {
  vertical-align: middle;
  width: 64px;
  height: 28px;
  background: #F85959;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

button:focus {
  outline: 0;
}