.container {
  width: 200px;
  margin: 200px auto;
  border: 1px solid #D8D8D8;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

input {
  padding-left: 1em;
  height: 30px;
  outline: none;
  border: 1px solid #D8D8D8;
  border-radius: 15px;
}

button {
  width: 64px;
  height: 28px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
}

button[type="submit"] {
  background: #F85959;
}

button[type="reset"] {
  background: #D8D8D8;
}

